{
  "presets": [[ "@babel/preset-env",
    {
      "modules": false
    }
  ]],
  "plugins": [
    "transform-class-properties",
    [ "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}