.is-active
  img
    opacity: 1
    transition: 0.4s
  p
  h1
  h2
  h3
  h6
  b
    opacity: 1
    transform: translate3d(0, 0, 0)
    transition: 0.4s

.is-inactive
  img
    opacity: 0
    transition: 0.4s
  p
  h1
  h2
  h3
  h6
  b
    opacity: 0
    transform: translate3d(0, -200px, 0)
    transition: 0.4s