.section
  padding: 20px 30px
  &-title
    font-size: 30px
    color: $dark

  &-paragraph
    font-size: 16px
    color: lighten($dark, 20%)

  &.is-red
    background: $red
  &.is-black
    background: $black
  &.is-green
    background: $green
  &.is-blue
    background: $blue
  &.is-white
    background: $white