+prefix-classes('add-')
  .center-horizontal
    display: flex
    flex-direction: column    
    justify-content: center
    align-items: center
  .center-vertical
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
  .padding
    padding: 20px
  .text-center
    text-align: center
  .full-width
    width: 100%